<!-- confirmarCorreo.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Reset Password</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div id="particles-js"></div>
<nav class="navbar">
    <div class="linee top"></div>
    <ul>
        <li><a class="navbar-brand" th:href="@{/}">Home</a></li>
    </ul>
    <div class="linee bottom"></div>
    <img alt="Logo" style="width: 12%; " src="/K.png" class="logo3">
    
</nav>

 		<div id="mensaje" th:if="${Existe != null}" class="alert alert-danger">
    		<div id="mensaje" th:text="${Existe}"></div>
		</div>
		
		 <div id="mensaje" th:if="${noExiste != null}" class="alert alert-danger">
    		<div id="mensaje" th:text="${noExiste}"></div>
		</div>
		
		
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>Reset Password</h1>
            <form th:action="@{/registrationAdmin/recuperarContra}"  method="post">

                <div class="form-group">
                    <label for="username">Email</label>:
                    <input type="text" class="form-control hacker-input" id="email" name="email"
                           placeholder="Enter Email ID" autofocus="autofocus">
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary hacker-btn" value="Enviar Correo"/>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

		<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/function.js" type="text/javascript"></script>
<script src="/pa.js" type="text/javascript"></script>
	


	<script ht:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            var errorContainer = document.getElementById('mensaje');
            if (errorContainer) {
                errorContainer.style.display = 'none';
            }
        }, 2000);
    });
</script>
</body>
</html>
