<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Ver Carrito</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
          <script src="//code.tidio.co/npeqywq3krx6zmvddjgv1dnuxdudmheo.js" async></script>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<script src="//code.tidio.co/npeqywq3krx6zmvddjgv1dnuxdudmheo.js" async></script>
</head>
<body>
	<div id="particles-js"></div>
	
    	<nav class="navbar">
    <div class="lineeee top"></div>
    <ul>
        <li><a class="navbar-brand" th:href="@{/}">Home</a></li>
		 
		 <li><a class="navbar-brand" href="#" th:href="@{/registration/PaginaPrincipal(userEmail=${email})}">Volver</a></li>

         <li style="color: forestgreen;" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">
			<img width="30" height="30" style="color: green;" src="https://img.icons8.com/ios/50/exit--v1.png" alt="exit--v1"/>
		</a></li>    
    </ul>

    <div class="lineeee bottom"></div>
		<li style="margin-left: 66%; margin-top: -80px;">
			<div>
				<img th:if="${user.imagen != null}" th:src="@{'/registration/showImageUserPerfil/' + ${user.id}}"
					alt="User Image" style="width: 19%; margin-left: 70%;" />
				<span th:if="${user.imagen == null}">
					<img alt="Logo" style="width: 19%;" src="/SinFoto.png" class="logo3">
				</span>
				<p style="color: rgb(0, 128, 0); font-size: 20px; margin-left: 73%;" th:text="${email}">N/A</p>
			</div>
		</li>
    
</nav>
    


    
	<div>
		<a  type="button" th:href="@{/registration/generarPDFHistorial(userEmail=${email})}" class="form-control btn btn-primary hacker-btn" style="margin-left: 20px; margin-top: 20px; width: 20%;">
			<strong>Descargar en Pdf</strong>
		</a>
	</div>
	
	
	
		<table class="tableDatos" border="3">
					<h1 class="tituloListadoEstudiantes">Acciones de pago</h1>
			<thead>
				<tr style="text-align: center; background-color: rgb(0, 255, 0);">
					<th><strong>Numero de Pago</strong></th>
					<th><strong>Fecha de Compra</strong></th>
					<th><strong>Servicios Requeridos</strong></th>
					<th><strong>Total Pagado</strong></th>
				</tr>
			</thead>
			<tbody>
				
				<tr th:each="historialPagos: ${historialPagos}" style="color: forestgreen;">
			            <td th:text="${historialPagos.id}"></td>
            			<td th:text="${historialPagos.fechaActual}"></td>
						<td>
			                <ul>
			                    <li th:each="servicio : ${historialPagos.servicios}" th:if="${servicio.requerido == 'Requerido'}">
			                        <span th:text="${servicio.nombre}"></span>
			                    </li>
			                </ul>
			            </td>
						<td th:text="${historialPagos.totalPagado}"></td>
				</tr>
			</tbody>
		</table>
		
		
		
		
		

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/function.js" type="text/javascript"></script>
<script src="/pa.js" type="text/javascript"></script>

</body>
</html>
