<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Servicio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/team_form.css}">
    <link rel="shortcut icon" th:href="@{/Ico.png}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon">
    <!-- Bootstrap CSS -->
        <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	<div id="particles-js"></div>
	<h1 style="text-align: center; color: forestgreen;">Registro de Servicios</h1>

        

    <main style="text-align: center;">
    <div class="form-container">
        <form th:action="@{/registrationAdmin/save}" th:object="${servicio}" method="post" enctype="multipart/form-data">
            
            
            
            
            
			<div>
				<label style="color: forestgreen;">Nombre del Servicio:</label><br>
				<input class="form-control hacker-input" type="text" id="nombre" th:field="*{nombre}"  required>
			</div><br>





			<div>
				<label style="color: forestgreen;">Descripción:</label><br>
				<input class="form-control hacker-input" type="text" id="descripcion" th:field="*{descripcion}"  required>
			</div><br>
			
			
			
			<div>
				<label style="color: forestgreen;">Costo:</label><br>
				<input class="form-control hacker-input" type="number" id="costo" th:field="*{costo}"  required>
			</div><br>
			
			
			<div>
				<label style="color: forestgreen;">Caracteristicas:</label><br>
				<input class="form-control hacker-input" type="text" id="caracteristicas" th:field="*{caracteristicas}"  required>
			</div><br>
			
			
			<div>
				<label style="color: forestgreen;">Proveedor:</label><br>
				<input class="form-control hacker-input" type="text" id="proveedor" th:field="*{proveedor}"  required>
			</div><br>
			
			
			
			<div>
				<label style="color: forestgreen;">Categoria:</label><br>
				<input class="form-control hacker-input" type="text" id="categoria" th:field="*{categoria}"  required>
			</div><br>
			
			
			<div>
				<label style="color: forestgreen;">Fecha de Lanzamiento:</label><br>
				<input class="form-control hacker-input" type="date" id="fechaLanzamiento" th:field="*{fechaLanzamiento}"  required>
			</div><br>


			    <label style="color: forestgreen;"s>Tecnologías que usa:</label><br>
	
	    <div th:each="tecnologia : ${tecnologiasDisponibles}">
	        <input type="checkbox" th:id="${'tecnologia-' + tecnologia}" th:name="tecnologias" th:value="${tecnologia}">
	        <label style="color: forestgreen;" th:for="${'tecnologia-' + tecnologia}" th:text="${tecnologia}"></label><br>
	    </div><br>
	
	
    	<label style="color: forestgreen;">Imagen del Servicio:</label><br>
    	<input class="form-control btn btn-primary hacker-btn" type="file" name="file" /><br/>



	       <div class="button">
                <button  type="submit" class="form-control btn btn-primary hacker-btn" style="color: rgb(255, 255, 255);">Guardar Servicio</button>
            </div>
            <br>
        </form>
        
        
      <div>
		<a  type="button"  th:href="@{/registrationAdmin/regresarDespuesDeActualizar}" class="form-control btn btn-primary hacker-btn" style="margin-left: 3px; margin-top: 20px;">
			<strong>Regresar</strong>
		</a>
	</div>
        
        
         <!-- <div class="regresar">
		<a class="btn btn-outline-primary"  th:href="@{/coordinadores/}" style="color: rgb(255, 255, 255); margin-bottom: 20px;" >Regresar</a>
	        </div>-->
    </div>
</main>




<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/function.js" type="text/javascript"></script>
<script src="/pa.js" type="text/javascript"></script>
</body>

</html>